<AuthorizeView>
    <Authorized>     
        <section class="get-started-section">
            <div class="get-started-imgs-auth">
                <img class="round-img" id="img1" srcset="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-4.0.3&amp">
                <img class="round-img" id="img2" srcset="https://images.unsplash.com/photo-1590002893558-64f0d58dcca4?ixlib=rb-4.0.3&amp">
                <img class="round-img" id="img3" srcset="https://images.unsplash.com/photo-1579935110464-fcd041be62d0?ixlib=rb-4.0.3&amp">
            </div>
            <section class="quote-section-nonauth">
                <p class="quote">"They may take our lives, but they'll never take our freedom!"</p>
                <p>-Braveheart, 1995</p>
            </section>
        </section>
    </Authorized>
    <NotAuthorized>
        <section class="get-started-section">
            <div class="get-started-text">
                <h3>Get started</h3>
                <p>Sign up to receive tailormade recommodations of movies to watch, based on your likes.</p>
                <p>Rate, discuss and see your list of recommodations change based on your ratings!</p>
                <a class="btn btn-outline-dark" href="/signup">sign up</a>
                <p>Already have an account? Great!</p>
                <a class="btn btn-outline-dark" href="/login">log in</a>
                <div class="get-started-imgs-nonauth">
                    <img class="round-img" id="img1" srcset="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-4.0.3&amp">
                    <img class="round-img" id="img2" srcset="https://images.unsplash.com/photo-1590002893558-64f0d58dcca4?ixlib=rb-4.0.3&amp">
                    <img class="round-img" id="img3" srcset="https://images.unsplash.com/photo-1579935110464-fcd041be62d0?ixlib=rb-4.0.3&amp">
                </div>        
                <section class="quote-section-nonauth">
                    <p class="quote">"They may take our lives, but they'll never take our freedom!"</p>
                    <p>-Braveheart, 1995</p>
                </section>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>
<div class="carousel-box">
    <Carousel />
    <h5 id="in-theatres">In theatres now!</h5>
</div>
