<div class="form-container">
    <h3>Find a movie</h3>
<form>
    <input class="search-input"type="search" id="search" name="search" placeholder="Search.."/>
</form>
    <form>
        <h5>Filter by</h5>
        <select class="drop-down" id="genre" name="genre">
            <option value="action">Action</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
            <option value="romantic">Romantic</option>
            <option value="sci-fi">Sci-Fi</option>
            <option value="adventure">Adventure</option>
            <option value="horror">Horror</option>
        </select>
        <select class="drop-down" id="year" name="year">
            <option value="yearrange1">1900-1949</option>
            <option value="yearrange2">1950-1969</option>
            <option value="yearrange3">1970-1999</option>
            <option value="yearrange4">2000-2005</option>
            <option value="yearrange5">2006-2010</option>
            <option value="yearrange6">2011-2015</option>
            <option value="yearrange7">2016-2023</option>
        </select>
    </form>
</div>

@code {

}
